{% trans_default_domain 'DemiDashboardBundle' %}

<br>
<br>

<div class="ui center aligned one column grid">

    <div class="row">

        <div class="column">
          <div class="ui vertical fluid menu">
            <div class="item">

                {% if is_granted('ROLE_ADMIN') %}
                    {% if not entity.enabled %}
                        <div class="ui blue button">
                            <a href="{{ path( entity.routeName ~ '_edit', { 'id': entity.id }) }}">
                                {{ 'general.edit'|trans }}
                            </a>
                        </div>
                    {% endif %}

                    {% if parent is not empty %}
                        <div class="ui blue button">
                            <a href="{{ path( parent.routeName ~ '_show', { 'id': parent.id }) }}">
                                {{- (parent.routeName)|trans -}}
                            </a>
                        </div>
                    {% endif %}

                    <div class="ui">
                        {{ form(delete_form , { 'attr': {'class': 'delete_form'} } ) }}
                    </div>
                {% endif %}

            </div>
          </div>
        </div>

    </div>

</div>