{% extends 'WorldDashboardBundle::layout.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block metas %}
    {% set title = entity.name ~ ' | GuateVoluntaria.org' %}
    {% set keywords = entity.name ~ ', actividades voluntariado, voluntarios, voluntariado, trabajo voluntario, voluntarios en guatemala, voluntariado en guatemala, guatemala' %}
    {% set description = entity.aboutUs %}
    {#{% set image = 'http://guatevoluntaria.org/images/logo.png' %}#}
    {% set image = entity.imageWebPath | imagine_filter('show') %}
    {% set currentPath = app.request.getSchemeAndHttpHost() ~ path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') ) %}

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- for Google -->
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />

    <meta name="author" content="{{ title }}" />
    <meta name="copyright" content="" />
    <meta name="application-name" content="" />

    <!-- for Facebook -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:url" content="{{ currentPath }}" />
    <meta property="og:description" content="{{ description }}" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />
{% endblock %}

{% block body -%}

    <div class="ui segment">
        <img class="ui centered large image" src="{{ entity.imageWebPath | imagine_filter('show') }}">
    </div>

    <h1 class="ui center aligned header">{{ entity.name }}</h1>

    <div class="ui center aligned one column grid">

        <div class="column">
            <div class="ui stackable center aligned one column grid">

                <div class="column">{{ entity.address }}</div>

                <div class="three column row">
                    <div class="column">
                        <b>{{ 'general.country'|trans }}:</b> {{ entity.country -}}
                    </div>
                    <div class="column">
                        <b>{{ 'general.state'|trans }}:</b> {{ entity.state }}
                    </div>
                    <div class="column">
                        <b>{{ 'general.city'|trans }}:</b> {{ entity.city }}
                    </div>
                </div>

                <div class="two column row">
                    <div class="column">
                        <b>{{ 'general.phone'|trans }}:</b> {{ entity.phone }}
                    </div>
                    <div class="column">
                        <b>{{ 'general.email'|trans }}:</b> {{ entity.email }}
                    </div>
                </div>

                <div class="two column row">
                    <div class="column">
                        <b>{{ 'general.founded'|trans }}:</b> {{ entity.founded|date('d-m-Y') }}
                    </div>
                    <div class="column">
                        <b>{{ 'general.operationtime'|trans }}:</b> {{ entity.operationTime }}
                    </div>
                </div>


                {% if entity.website is not empty
                        or entity.facebook is not empty
                        or entity.twitter is not empty
                        or entity.instagram is not empty %}

                    <div class="two column row">

                        {% embed "WorldVolunteerBundle:Association:socialLink.html.twig" with { 'title': 'general.facebook', 'url': entity.facebookUrl, 'name': entity.facebook } %} {% endembed %}

                        {% embed "WorldVolunteerBundle:Association:socialLink.html.twig" with { 'title': 'general.twitter', 'url': entity.twitterUrl, 'name': entity.twitter } %} {% endembed %}

                    </div>

                    <div class="two column row">

                        {% embed "WorldVolunteerBundle:Association:socialLink.html.twig" with { 'title': 'general.website', 'url': entity.website, 'name': entity.website } %} {% endembed %}

                        {% embed "WorldVolunteerBundle:Association:socialLink.html.twig" with { 'title': 'general.instagram', 'url': entity.instagramUrl, 'name': entity.instagram } %} {% endembed %}

                    </div>

                {% endif %}

                <div class="one column row">
                    <div class="column">
                        {% embed "WorldToolBundle:Base:share.html.twig" %} {% endembed %}
                    </div>
                </div>


            </div>
        </div>

    </div>


    <div class="space-content">


        {% if entity.aboutUs is not empty %}
            <h2 class="ui center aligned header">{{ 'general.aboutus'|trans }}</h2>

            <div class="ui center aligned one column grid">
                <div class="column">{{ entity.aboutUs }}</div>
            </div>
        {% endif %}


        {% if entity.whatWeDo is not empty %}
            <h2 class="ui center aligned header">{{ 'general.whatwedo'|trans }}</h2>

            <div class="ui center aligned one column grid">
                <div class="column">{{ entity.whatWeDo }}</div>
            </div>
        {% endif %}


        <br>
        <div class="ui divider"></div>


        <h2 class="ui center aligned header">{{ 'general.generalinformation'|trans }}</h2>

        <div class="ui center aligned one column grid">

            {% if entity.mission is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.mission'|trans }}</h3>
                    <div class="column">{{ entity.mission }}</div>
                </div>
            {% endif %}

            {% if entity.vision is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.vision'|trans }}</h3>
                    <div class="column">{{ entity.vision }}</div>
                </div>
            {% endif %}

            {% if entity.philosophy is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.philosophy'|trans }}</h3>
                    <div class="column">{{ entity.philosophy }}</div>
                </div>
            {% endif %}

        </div>




        {% if entity.volunteerRequirements is not empty or entity.volunteerAge is not empty or entity.commitment is not empty   %}

        <br>
        <div class="ui divider"></div>


        <h2 class="ui center aligned header">{{ 'general.volunteer'|trans }}</h2>

        <div class="ui center aligned one column grid">

            {% if entity.volunteerRequirements is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.requirements'|trans }}</h3>
                    <div class="column">{{ entity.volunteerRequirements }}</div>
                </div>
            {% endif %}

            {% if entity.volunteerAge is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.age'|trans }}</h3>
                    <div class="column">{{ entity.volunteerAge }}</div>
                </div>
            {% endif %}

            {% if entity.commitment is not empty %}
                <div class="row">
                    <h3 class="ui center aligned header">{{ 'general.commitment'|trans }}</h3>
                    <div class="column">{{ entity.commitment }}</div>
                </div>
            {% endif %}

        </div>

        {% endif %}




        {% if entity.donations == 1 %}

            <br>
            <div class="ui divider"></div>

            <h2 class="ui center aligned header">{{ 'general.donations'|trans }}</h2>

            <div class="ui center aligned one column grid">

                {% if entity.donationMethod is not empty %}
                    <div class="row">
                        <h3 class="ui center aligned header">{{ 'general.method'|trans }}</h3>
                        <div class="column">{{ entity.donationMethod }}</div>
                    </div>
                {% endif %}

                {% if entity.donationPurpose is not empty %}
                    <div class="row">
                        <h3 class="ui center aligned header">{{ 'general.purpose'|trans }}</h3>
                        <div class="column">{{ entity.donationPurpose }}</div>
                    </div>
                {% endif %}

            </div>

        {% endif %}


        {% if entity.activities|length > 0 %}

            <br>
            <div class="ui divider"></div>

            {% embed "WorldDashboardBundle:Dashboard:activities.list.html.twig" with { 'entities': entity.activities } %} {% endembed %}

        {% endif %}

    </div>

{% endblock %}
