{% extends '::base.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block fos_user_content %}{% endblock fos_user_content %}
{% block breadcrumb %}{% endblock %}
{% block login_widget %}{% endblock %}

{% block menu %}

    <div class="ui menu">

        <a class="item" href="{{ path('world_dashboard_homepage') }}">
            <i class="home icon"></i> Home
        </a>

        <a class="item" href="{{ path('slide') }}">
            <i class="home icon"></i> Slides
        </a>

        <a class="item" href="{{ path('news') }}">
            <i class="home icon"></i> News
        </a>

        <a class="item" href="{{ path('admin_association') }}">
            <i class="home icon"></i> Associations
        </a>

        <div class="right menu">
        </div>

    </div>

{% endblock %}


{% block footer %}
    <div class="ui tertiary center aligned segment footer">
        <div><p><small>Trademark and Copyright Notice. WorldVolunteering and its related entities. All rights reserved
                    El uso de este sitio (incluso cualquier parte y componente) constituye su aceptación de estos Términos de Uso y Políticas de Privacidad.</small></p>
        </div>
        <div class="menuLine"></div>
        <div class="mint3logo"><img src="{{ asset('bundles/demidashboard/images/mint3logo.jpg') }}"><p><small>powered by:</small></p></div>
    </div>
{% endblock %}