{% extends '::base.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% block fos_user_content %}{% endblock fos_user_content %}
{% block breadcrumb %}{% endblock %}
{% block login_widget %}{% endblock %}

{% block menu %}

    <div class="ui blue inverted menu">

        <a class="item" href="{{ path('world_dashboard_homepage') }}">
            <i class="home icon"></i> {{ 'menu.home'|trans }}
        </a>

        <a class="item" href="{{ path('world_dashboard_associations') }}">
            <i class="list icon"></i> {{ 'menu.associations'|trans }}
        </a>

        <a class="item" href="{{ path('world_dashboard_about') }}">
            <i class="idea icon"></i> {{ 'menu.about'|trans }}
        </a>

        <a class="item" href="{{ path('world_dashboard_contact') }}">
            <i class="mail icon"></i> {{ 'menu.contact'|trans }}
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="item" href="{{ path('sonata_admin_dashboard') }}">
                <i class="lab icon"></i> {{ 'menu.admin'|trans }}
            </a>
        {% endif %}

        <div class="right menu">

            {% set imageSize = 18 %}

            <div class="item">
                <span class="ui follow text">{{ 'menu.followus'|trans }}&nbsp;&nbsp;&nbsp;</span>
                <a href="https://www.facebook.com/CVGuate" target="_blank">
                    <img height="{{ imageSize }}" width="{{ imageSize }}" src="{{ asset('bundles/worlddashboard/images/logos-and-badges_f-logo_online/png/FB-f-Logo__blue_29.png') }}">
                </a>

                &nbsp;&nbsp;&nbsp;

                <a href="https://www.twitter.com/cvg_guate" target="_blank">
                    <img height="{{ imageSize }}" width="24" src="{{ asset('bundles/worlddashboard/images/rsz_3twitter_logo_blue.png') }}">
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            {#<div class="item">#}
                {#<div class="ui icon input">#}
                    {#<input placeholder="{{ 'menu.search'|trans }}..." type="text">#}
                    {#<i class="search link icon"></i>#}
                {#</div>#}
            {#</div>#}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="item" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>

    </div>

    <div class="menu yellow line">&nbsp;</div>

{% endblock %}

{% block slider %}{% endblock %}

{% block footer %}
    {#<div class="ui tertiary center aligned segment footer">#}
        {#<div><p><small>Trademark and Copyright Notice. WorldVolunteering and its related entities. All rights reserved#}
                    {#El uso de este sitio (incluso cualquier parte y componente) constituye su aceptación de estos Términos de Uso y Políticas de Privacidad.</small></p>#}
        {#</div>#}
        {#<div class="menuLine"></div>#}
        {#<div class="mint3logo"><img src="{{ asset('bundles/demidashboard/images/mint3logo.jpg') }}"><p><small>powered by:</small></p></div>#}
    {#</div>#}

    <div class="menu yellow line">&nbsp;</div>
    <div class="ui footer">
        <p>
            <b>Contactanos al email: coordinador@guatevoluntaria.org</b>
            <br>
            <br>
            <b>Trademark and Copyright Notice. WorldVolunteering and its related entities. All rights reserved &copy; www.guatevoluntaria.org. Derechos Reservados.</b>
            <br>
            Programacion: Jose Alfredo Alvarez Aldana, Diseno: Dulce Maria Lopez De Gonzales. Infraestructura: Mint3 Inc
        </p>
    </div>
{% endblock %}