{% trans_default_domain 'WorldDashboardBundle' %}

{% if entities is not empty %}

    <h1 class="ui centered header">{{ 'general.activities'|trans }}</h1>

    <div class="ui stackable center aligned padded grid">
        <div class="three column row">
            {% for entity in entities %}
                <div class="column center aligned">
                    <h2 class="ui header">{{ entity.name }}</h2>
                    <img class="ui centered small image" src="{{ entity.imageWebPath | imagine_filter('thumb') }}">
                    <p>
                        {% embed "WorldToolBundle:Base:description.html.twig" with { 'description': entity.description } %} {% endembed %}
                        <br><br>
                        <b>{{ 'general.date'|trans }}:</b> {{ entity.date|date('d - m - Y') }}
                        <br>
                        <b>{{ 'general.location'|trans }}:</b> {{ entity.location }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}