{% extends 'WorldDashboardBundle::admin.html.twig' %}

{% trans_default_domain 'WorldDashboardBundle' %}

{% form_theme delete_form 'WorldDashboardBundle::themes/delete_theme.html.twig'  %}

{% block breadcrumb %}{% endblock %}

{% block body -%}

    {% embed "WorldToolBundle:Base:title.html.twig" with { 'title': 'slide.show' } %} {% endembed %}

    <div class="ui center aligned one column grid">

        <div class="row">

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.image'|trans }}
                    </div>
                    <div class="item">
                        <img src="{{ asset( entity.imageWebPath ) }}">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.name'|trans }}
                    </div>
                    <div class="item">
                        {{ entity.name }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.description'|trans }}
                    </div>
                    <div class="item">
                        {% embed "WorldToolBundle:Base:description.html.twig" with { 'description': entity.description } %} {% endembed %}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br>

    <div class="ui center aligned two column grid">

        <div class="row">

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.enabled'|trans }}
                    </div>
                    <div class="item">
                        {{ entity.enabledStr }}
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.sortorder'|trans }}
                    </div>
                    <div class="item">
                        {{ entity.sortOrder }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.startdate'|trans }}
                    </div>
                    <div class="item">
                        {% if entity.startDate %}{{ entity.startDate|date('Y-m-d') }}{% endif %}
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui vertical fluid menu">
                    <div class="header item">
                        {{ 'general.endDate'|trans }}
                    </div>
                    <div class="item">
                        {% if entity.endDate %}{{ entity.endDate|date('Y-m-d') }}{% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>

    {#<br>#}

    {#<div class="ui center aligned two column grid">#}

        {#{% embed "WorldToolBundle:Base:base.show.html.twig" with { 'entity': entity } %} {% endembed %}#}

    {#</div>#}

    {% embed "WorldToolBundle:Base:show.back.html.twig" with { 'entity': entity, 'delete_form': delete_form } %} {% endembed %}

{% endblock %}