{% trans_default_domain 'WorldDashboardBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}World Volunteering{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/worlddashboard/chosen/chosen.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/worlddashboard/css/style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block javascripts_header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/worlddashboard/chosen/chosen.jquery.js') }}" type="text/javascript"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>

        {% block menu %}{% endblock %}

        {% block slider %}{% endblock %}

        {% block body %}{% endblock %}

        <br>
        <br>

        {% block footer %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% block javascripts_footer %}
            <script type="text/javascript">
                $('.ui.dropdown').dropdown();

                $('.popup')
                        .popup({
                            on: 'click'
                        })
                ;

                $(".delete_form").submit(function(e) {
                    var self = this;
                    e.preventDefault();

                    if ( confirm( '{{ 'general.askdelete'|trans }}' ) ) {
                        self.submit();
                    }

                    return false; //is superfluous, but I put it here as a fallback
                });


                var config = {
                    '.chosen-select'           : {},
                    '.chosen-select-deselect'  : {allow_single_deselect:true},
                    '.chosen-select-no-single' : {disable_search_threshold:10},
                    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                    '.chosen-select-width'     : {width:"95%"}
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }
            </script>
        {% endblock %}
    </body>
</html>
