{% trans_default_domain 'WorldDashboardBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="fb:app_id" content="1669050010002830" />

    {% block metas %}
        {% set title = 'GuateVoluntaria.org' %}
        {% set keywords = 'actividades voluntariado, voluntarios, voluntariado, trabajo voluntario, voluntarios en guatemala, voluntariado en guatemala, guatemala' %}
        {% set description = 'Directorio de voluntariado en Guatemala, contamos con listado de asociaciones y sus actividades futuras, necesitamos tu ayuda para construir una mejor Guatemala.' %}
        {% set image = 'http://guatevoluntaria.org/images/logo.png' %}
        {% set currentPath = app.request.getSchemeAndHttpHost() ~ path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') ) %}

        <title>{% block title %}{{ title }}{% endblock %}</title>

        <!-- for Google -->
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="{{ keywords }}" />

        <meta name="author" content="{{ title }}" />
        <meta name="copyright" content="" />
        <meta name="application-name" content="" />

        <!-- for Facebook -->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{ image }}" />
        <meta property="og:url" content="{{ currentPath }}" />
        <meta property="og:description" content="{{ description }}" />

        <!-- for Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:image" content="{{ image }}" />
    {% endblock %}

    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/worlddashboard/chosen/chosen.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/worlddashboard/css/style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block javascripts_header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.js" type="text/javascript"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="{{ asset('bundles/worlddashboard/chosen/chosen.jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/worlddashboard/noty-2.3.5/js/noty/packaged/jquery.noty.packaged.min.js') }}" type="text/javascript"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
    <body>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1669050010002830',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

        {% block menu %}{% endblock %}

        {% block slider %}{% endblock %}

        {% block body %}{% endblock %}

        <br>
        <br>

        {% block footer %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            {% embed "WorldDashboardBundle::themenotification.html.twig" with {'text': flashMessage, 'type' : 'success'} %} {% endembed %}
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            {% embed "WorldDashboardBundle::themenotification.html.twig" with {'text': flashMessage, 'type' : 'error'} %} {% endembed %}
        {% endfor %}

        {% block javascripts_footer %}
            <script type="text/javascript">
                $('.ui.dropdown').dropdown();

                $('.popup')
                        .popup({
                            on: 'click'
                        })
                ;

                $(".delete_form").submit(function(e) {
                    var self = this;
                    e.preventDefault();

                    if ( confirm( '{{ 'general.askdelete'|trans }}' ) ) {
                        self.submit();
                    }

                    return false; //is superfluous, but I put it here as a fallback
                });


                var config = {
                    '.chosen-select'           : {},
                    '.chosen-select-deselect'  : {allow_single_deselect:true},
                    '.chosen-select-no-single' : {disable_search_threshold:10},
                    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                    '.chosen-select-width'     : {width:"95%"}
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }
            </script>

            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-23590276-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        {% endblock %}
    </body>
</html>
