{% trans_default_domain 'DemiDashboardBundle' %}

<table class="ui table segment">
    <thead>
        <tr>
            <th>{{ 'general.image'|trans }}</th>
            <th>{{ 'general.name'|trans }}</th>
            {#<th>{{ 'general.description'|trans }}</th>#}
            <th>{{ 'general.startdate'|trans }}</th>
            <th>{{ 'general.enddate'|trans }}</th>
            <th>{{ 'general.enabled'|trans }}</th>
            <th>{{ 'general.sortorder'|trans }}</th>
            <th>{{ 'general.actions'|trans }}</th>
        </tr>
    </thead>

    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <img src="{{ entity.imageWebPath | imagine_filter('thumb') }}">
            </td>
            <td>{{ entity.name }}</td>
            {#<td>{% embed "WorldToolBundle:Base:description.html.twig" with { 'description': entity.description } %} {% endembed %}</td>#}
            <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d') }}{% endif %}</td>
            <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.enabledStr }}</td>
            <td>{{ entity.sortOrder }}</td>
            <td>{% embed "WorldToolBundle:Base:actions.html.twig" with { 'entity' : entity } %} {% endembed %}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>